extends skeleton.pug
block body
  if cash
    - const currency = new Intl.NumberFormat('en-GB', {style: 'currency', currency: 'GBP', currencySign: 'accounting'})

    h1(style="text-align: center")
     span.subtitle Account total:
     |
     |
     = currency.format(cash.total)
    section
      h2.invested
        = currency.format(cash.invested)
        |
        | invested
      p 
        | We spent
        |
        = currency.format(cash.invested)
        |
        | on investments that are now worth
        |
        = currency.format(cash.invested + cash.ppl)
        | .
      p
        | That&rsquo;s
        |
        if Math.sign(cash.ppl) > 0
          strong.positive
            = currency.format(Math.abs(cash.ppl))
            |
            | more
        else
          strong.negative
            = currency.format(Math.abs(cash.ppl))
            |
            | less 

        |
        | than we bought them for.
    section
      p
        h2.free
          = currency.format(cash.free)
          |
          | free
      p
        | This is how much we've got as cash in our account.
        if cash.blocked
          | There's an extra
          |
          = currency.format(cash.blocked)
          |
          | that has been earmarked for future orders.
      p
        | Our realised result is
        |
        if Math.sign(cash.result) > 0
          strong.positive
            = currency.format(Math.abs(cash.result))
            |
            | profit
        else
          strong.negative
            = currency.format(Math.abs(cash.result))
            |
            | loss
        |
        | overall.


  a(href="/orders") View open orders
  a(href="/positions") View open positions
